alias cls='clear'

alias ls="eza --icons --group-directories-first"
alias lz="eza --icons --group-directories-first"
alias l="eza -l --icons --time-style long-iso --group-directories-first"
alias ll="eza -hal --icons --git --git-repos --time-style long-iso --group-directories-first"
alias ld="eza -lD --time-style long-iso --icons"
alias lld="eza -halD  --git-repos --time-style long-iso --icons"

alias tree="tree -C"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias tmux="tmux -u"

function update_dotfiles() {
    echo -e "\e[1;32m--> Updating $HOME/.dotfiles ...\e[0m"
    git -C $HOME/.dotfiles checkout .
    git -C $HOME/.dotfiles pull  
}

function update_starship() {
    echo -e "\e[1;32m--> Updating Starship prompt ...\e[0m"
    sudo sh -c "$(curl -fsSL https://starship.rs/install.sh)"
}

function starship_prompt() {
    local starshipPromptFile=$(fd -d 1 --extension toml . "$HOME/.dotfiles/linux_v2/config/starship" | fzf)
    export STARSHIP_CONFIG="$starshipPromptFile"
    sed -ie '/export STARSHIP_CONFIG.*/d' "$HOME/.zshrc_local"
    echo "export STARSHIP_CONFIG=\"$starshipPromptFile\"" >> "$HOME/.zshrc_local"
}

function fcd() {
    cd $(fd -HI -t d $@ . | fzf)
}

function mcd() {
    mkdir -p $1
    cd $1
}

# Editor
function fed() { 
    micro $(fd -HI -t f -t l $@ . | fzf)
}

# Git
function gitpush() {
    git add .
    git commit -m "$*"
    git pull
    git push
}

# Yazi
function yy() {
    local tmp="$(mktemp -t "yazi-cwd.XXXXX")"
    yazi "$@" --cwd-file="$tmp"
    if cwd="$(cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
        cd -- "$cwd"
    fi
    rm -f -- "$tmp"
}

# Interactively start ssh sessions
function fs() {
    if [ $# -eq 0 ]
    then
        ssh $(cat ~/.ssh/config | grep -E "Host [^*]+" | awk '{ print $2 }' | fzf)
    else
        ssh $(cat ~/.ssh/config | grep -E "Host .*${1}.*" | awk '{ print $2 }' | fzf)
    fi
}

function fa () {
    PREFIX="${PASSAGE_DIR:-$HOME/.passage/store}"
    FZF_DEFAULT_OPTS=""
    name="$(cd "$PREFIX"; find . -type f -name '*.age' -exec sh -c '
    for f do
      f=${f#./}; printf "%s\n" "${f%.age}"
    done
    ' sh-find {} + | fzf --height 40% --reverse --no-multi)"
    passage "${@}" "$name"
}

function fac () {
    PREFIX="${PASSAGE_DIR:-$HOME/.passage/store}"
    FZF_DEFAULT_OPTS=""
    name="$(cd "$PREFIX"; find . -type f -name '*.age' -exec sh -c '
    for f do
      f=${f#./}; printf "%s\n" "${f%.age}"
    done
    ' sh-find {} + | fzf --height 40% --reverse --no-multi)"
    passage "${@}" "$name" | clip.exe
}

function gip() {
    curl -fsSL "https://ip.jirm.cz/json?ip=$1"
}

alias g='git'
alias gcl='git clone'
alias ga='git add'
alias gaa='git add .'
alias gs='git status'
alias gss='git status -s'
alias gg='git status'
alias ggg='git status -s'
alias gpull='git pull'
alias pull='git pull'
alias gp='git push'
alias gpush='git push'
alias push='git push'
alias gpp='git pull && git push'
alias gpo='git push origin'
alias gd='git diff'
alias gdd='git diff --cached'
alias gdw='git diff --color-words'
alias gdt='git difftool'
alias gc='git commit -v'
alias gca='git commit -v -a'
alias gcom='git commit -m'
alias grest='git restore'

# terraform
# ##########
alias tf='terraform'

# systemctl
###########
alias sc='sudo systemctl'
alias scst='sudo systemctl status'

# docker
###########
alias dcpull='docker compose pull'
alias dcup='docker compose up -d'
alias dccup='docker compose --compatibility up -d'
alias dcdown='docker compose down'
alias sdcpull='sudo docker compose pull'
alias sdcup='sudo docker compose up -d'
alias sdccup='sudo docker compose --compatibility up -d'
alias sdcdown='sudo docker compose down'

# ctop - tmux fix
##################
alias ctop='TERM="${TERM/#tmux/screen}" ctop'

# lazydocker
############
alias lzd='lazydocker'

alias bat='batcat'

alias pass='passage'

alias pst='curl -F "lesma=<-" "https://paste.jirm.cz"'