alias cls='clear'

alias l="ls -lF"
alias ll="ls -laF"
alias ld="ls -ld */"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias tmux="tmux -u"

function update_dotfiles() {
    echo -e "\e[1;32m--> Updating $HOME/.dotfiles ...\e[0m"
    git -C $HOME/.dotfiles checkout .
    git -C $HOME/.dotfiles pull  
}

function fcd() {
    cd $(fd -HI -t d $@ . | fzf)
}

function mcd() {
    mkdir -p $1
    cd $1
}

# Editor
function fed() { 
    micro $(fd -HI -t f -t l $@ . | fzf)
}

# Git
##########

function gitpush() {
    git add .
    git commit -m "$*"
    git pull
    git push
}

alias g='git'
alias gcl='git clone'
alias ga='git add'
alias gaa='git add .'
alias gs='git status'
alias gss='git status -s'
alias gg='git status'
alias ggg='git status -s'
alias gpull='git pull'
alias pull='git pull'
alias gp='git push'
alias gpush='git push'
alias push='git push'
alias gpp='git pull && git push'
alias gpo='git push origin'
alias gd='git diff'
alias gdd='git diff --cached'
alias gdw='git diff --color-words'
alias gdt='git difftool'
alias gc='git commit -v'
alias gca='git commit -v -a'
alias gcom='git commit -m'
alias grest='git restore'

alias cdssh='cd $MY_SSH_PATH'
alias cdwork='cd $MY_WORK_PATH'
alias cdgit='cd $MY_GIT_PATH'

# systemctl
###########
alias sc='sudo systemctl'
alias scst='sudo systemctl status'